<template>
  <div class="sm:content-center">
    <h2 class="text-sm subtitle content-center">Contactez moi</h2>
    <form class="bg-white rounded px-8 pt-6 pb-8 mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">Votre mail</label>
      <input
        type="mail"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
      <label class="block text-gray-700 text-sm font-bold mb-2">Votre objet</label>
      <input
        id="subject"
        type="text"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
      <label class="block text-gray-700 text-sm font-bold mb-2">Votre message</label>
      <input
        id="body"
        type="text"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      />
      <button
        @click="sendMail"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="button"
      >Envoyez</button>
    </form>
    <p class="text-sm">ou contactez moi par téléphone au : 0705024569</p>
  </div>
</template>
<script>
export default {
  props: {
    mail: {
      type: String,
      required: true
    }
  },
  methods: {
    sendMail() {
      var subject = document.getElementById("subject").value;
      var body = document.getElementById("body").value;
      if ((subject == "") & (body == "")) {
        return false;
      } else {
        location.href =
          "mailto:" + this.mail + "?subject= " + subject + "&body=" + body;
      }
    }
  }
};
</script>
