<template>
    <div id="Project" :class="align ? align : 'left'" class="flex">
        <div class="desc">
            <h3>{{ item.name }}</h3>
            <p>{{ item.desc }}</p>
            <p class="link">
                <a v-if="item.link" :href="item.link">Voir plus</a>
            </p>
        </div>
        <div class="img" :style="'background-image: url(' + item.snapshot +')'"></div>
    </div>
</template>

<script>
    export default {
        props: [
            'item',
            'align'
        ]
    }
</script>

<style lang="postcss" scoped>
    #Project {
        margin-top: 25px;
    }

    .left {
         flex-direction: row-reverse;
    }

    .left .desc .link {
        text-align: right;
    }

    .left .desc h3, .left .desc p {
        text-align: left;
    }

    .left .desc {
        margin-left: 20px;
    }

    .right .desc {
        margin-right: 20px;
    }

    .right h3, .right p {
        text-align: right;
    }

    .right .link {
        text-align: left;
    }

    .img {
        min-width: 34%;
        background-size: cover;
        background-position: center;
    }

    .desc h3 {
        font-size: 1.5em;
    }

    .desc .link {
        font-style: italic;
        margin-top: 15px;
    }

    @media screen and (max-width: 800px) {
        #Project {
            flex-direction: column-reverse;
            text-align: center;
        }

        h3, p {
            text-align: center!important;
        }

        .link {
            text-align: right!important;
            margin-right: 10px;
        }

        .img {
            height: 250px;
        }

        h3 {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
</style>
