<template>
    <div class="cont-social">
        <a href= social.fb v-if="social.fb"><img src="../static/network/fb.svg" /></a>
        <!-- <a href= social.lkdn v-if="social.lkdn"><img src="../static/network/lkdn.svg"/></a>
        <a href= social.twt v-if="social.twt"><img src="../static/network/twt.svg"/></a>
        <a href= social.insta v-if="social.insta"><img src="../static/network/insta.svg"/></a>
        <a href= social.git v-if="social.git"><img src="../static/network/github.svg"/></a>
        <a href= social.so v-if="social.so"><img src="../static/network/gitlab.svg"/></a> -->
        <div v-for="s in social.others" :key="s.id">
            <!-- <a href= s ><img src="../static/network/other.svg"/></a> -->
        </div>
    </div>
</template>

<script>
export default {
    props: [
        "social"
    ]
}
</script>

<style lang="postcss" scoped>
    .cont-social {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    img {
        width: 50px;
        height: 50px;
    }
</style>
